<div *ngIf="generation">
    <p>Currently looking at Generation {{genNo}}</p>
    <p>Blob amount: {{generation.blobs.length}}</p>
    <p>Food limit: {{generation.foodConfig.foodAmount}}</p>
    <p>Map size: {{generation.mapLength}}</p>
    <div>
        <p>Current highest developed Blob</p>
        <p>BlobID/parentID: {{bestBlob.id}}</p>
        <p>Properties:</p>
        <p> Agility: {{bestBlob.properties.agt}}</p>
        <p> Strength: {{bestBlob.properties.str}}</p>
        <p> Sight: {{bestBlob.properties.sight}}</p>
    </div>
</div>
